.Scene360{
    position: relative;
    height: 180vh;
}

.Scene360__player{
    display: none;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
}

.Scene360__player img{
    position: absolute;
    width: 70px;
    bottom: 20px;
    right: 20px;
}

.Scene360__intro img {
    position: relative;
    width: auto;
    bottom: auto;
    right: auto;
}

.Scene360__player:hover{
    cursor: grab;
}

.Scene360__popin{
    height: 300px;
    width: 300px;
    background-color: white;
    position: absolute;
    top: 50vh;
    right: 0;
    display: none;
    padding: 30px;
    align-items: center;
}

.Scene360__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: white;
    padding: 40px 0 80px;
    height: 40vh;
    width: 800px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.863);
    border: 2px solid white;
}

.Scene360__intro img {
    width: 25vh;
    margin-top: 20px;
}

#button_scene_intro{
    color: black;
    background-color: whitesmoke;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
}

#button_scene_intro:hover{
    cursor: pointer;
}

/* Responsive Change  */

@media screen and (orientation:portrait) {
    .Scene360{
        height: 200vh;
    }

    .Scene360__intro{
        height: 100vh;
        width: 80vw;
        padding: 0 10vw;
        text-align: center;
    }


}