.Scene360{
    position: relative;
    height: 100vh;
}

.Scene360__player{
    display: none;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
}

.Scene360__player img{
    position: absolute;
    width: 70px;
    bottom: 20px;
    right: 20px;
}

.Scene360__intro img {
    position: relative;
    width: auto;
    bottom: auto;
    right: auto;
}

.Scene360__player:hover{
    cursor: grab;
}

.Scene360__popin{
    display: none;
    background-color: white;
    border-radius: 8px;
    border: 3px solid #c02d23;
    padding: 1vw 2vw;
    max-width: 400px;
    position: absolute;
    bottom: 3%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, 0%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
    -webkit-animation: Scene360_popin_animation 1.5s linear both;
    animation: Scene360_popin_animation 1.5s linear both;
    text-align: center;
}
.Scene360__popin__plus{
    display: none;
    background-color: #c02d23;
    border-radius: 8px;
    border: 3px solid white;
    color: white;
    padding: 1vw 2vw;
    max-width: 400px;
    position: absolute;
    bottom: 3%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, 0%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
    text-align: center;
}

.Scene360__ScrollGrip{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.26);
    border-top: 2px dashed white;
    width: 100vw;
    height: 18vh;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.Scene360__intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: white;
    padding: 40px 0 80px;
    height: 40vh;
    width: 800px;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.863);
    border: 2px solid white;
}

.Scene360__intro img {
    width: 25vh;
    margin-top: 20px;
}

#button_scene_intro{
    color: black;
    background-color: whitesmoke;
    padding: 7px 15px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 30px;
}

#button_scene_intro:hover{
    cursor: pointer;
}

/* Responsive Change  */

@media screen and (orientation:portrait) {
    .Scene360{
        height: 100vh !important;
    }

    .Scene360__intro{
        height: 70vh;
        width: 70%;
        padding: 0 10vw;
        text-align: center;
    }

    .Scene360__player{
        position: relative;
        height: 100vh;
    }

    .Scene360__popin{
        width: 85vw;
        bottom: 10%;
    }

    .Scene360__popin__plus{
        width: 85vw;
        bottom: 10%;
    }
}

@-webkit-keyframes Scene360_popin_animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes Scene360_popin_animation {
    0% {
              opacity: 0;
    }
    100% {
              opacity: 1;
    }
  }