.four{
    background-color: #8e8358;
    background: url(../../../../../src/assets/elixir_combier_pour_toute_famille_1900_4bfi79.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ElixirCombier__History{
    background-color: rgba(255, 255, 255, 0.781);
    padding: 30px;
    width: 40%;
    height: auto;  
}

.ElixirCombier__History__title{
    font-size: 3vw;
    margin: 20px 0;
    font-family: 'Crimson Pro', serif;
}

.ElixirCombier__History__description{
    font-size: 1vw;
}

.five{
    background: linear-gradient( rgb(235, 222, 188), #695d42);
    width: 250vw;
}

.ElixirCombier__History__2{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 60px;
}

.ElixirCombier__History__2__Raspail{
    height: 70%;
}

.ElixirCombier__History__2__Colette{
    height: 61%;
}

.ElixirCombier__History__2__Affiche{
    height: 65%;
}

.ElixirCombier__History__2__Affiche01{
    height: 75%;
}

.ElixirCombier__History__2__Testament{
    height: 55%;
    max-height: 500px;
}

.ElixirCombier__History__2__Gigi{
    height: 75%;
}