.OriginalCocktail{
    height: 100vh;
    background-color: #ef8e21;
}

.OriginalCocktail__container{
    height: calc(100vh - 90px);
    display: flex;
    justify-content: space-between;
}

.OriginalCocktail__container__left__img{
    height: 100%;
}

.OriginalCocktail__container__right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.OriginalCocktail__container__right__title{
    font-family: 'Limelight', cursive;
    font-size: 4vw;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 30px;
    /* text-shadow: rgb(0, 0, 0) 4px 4px; */
}

.OriginalCocktail__container__right__description{
    font-size: 1.1vw;
    width: 33vw;
    text-align: justify;
}

.OriginalCocktail__footer{
    width: 100vw;
    height: 90px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
}

.OriginalCocktail__footer__icon{
    width: 40px;
    margin: 0 10px;
}

.OriginalCocktail__footer__icon:hover{
    cursor: pointer;
}

.OriginalCoktail__container__right__linkhub{
    display: flex;
    margin: 20px;
    font-weight: bold;
}

.OriginalCoktail__container__right__linkhub:hover{
    cursor: pointer;
}

.OriginalCoktail__container__right__linkhub img{
    height: 50px;
    margin: 0px 10px;
}

.OriginalCoktail__container__right__linkRecipe{
    background-color: rgb(167, 23, 23);
    padding: 0px 20px;
    border-radius: 4px;
    font-weight: bold;
}

.OriginalCoktail__container__right__linkRecipe:hover{
    cursor: pointer;
}

.OriginalCocktail__footer__link{
    cursor: pointer;
}

@media screen and (orientation:portrait) {

    .OriginalCocktail{
        height: 200vh;
        position: relative;
    }

    .OriginalCocktail__container{
        height: 200vh;
    }

    .OriginalCocktail__container{
        flex-direction: column-reverse;
    }

    .OriginalCocktail__container__left{
        height: 100vh;
        position: relative;
    }

    .OriginalCocktail__container__right{
        height: 100vh;
        width: 100vw;
    }

    .OriginalCocktail__container__right__title{
        font-size: 5vh;
    }

    .OriginalCocktail__container__right__description{
        font-size: 2.2vh;
        width: 80vw;
    }

    .OriginalCoktail__container__right__linkhub{
        text-align: center;
    }

    .OriginalCocktail__footer{
        position: absolute;
        bottom: 0;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.829);
        color: black;
        height: 50px;
    }
}