.Meridor{
    position: relative;
    width: 100vw;
}

.Meridor .OriginalCocktail{
    background-color: #74b6ff;
}

.Meridor__empty__margin{
   height: 50vh;
    width: 50vw;
}

.Meridor_bg_container {
    height: 500vh;
    position: absolute;
    z-index: -1;
}

.Meridor_bg_sticky {
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
}

.Meridor_bg_sticky img{
    display: inline-block;
	vertical-align:middle;
    height: 100vh;
}

.Meridor__First{
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../../../src/assets/Meridor420.jpg) no-repeat center center; 
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Meridor__First__empty{
    width: 30%;
    height: 50%;
    /* background-color: rgba(245, 245, 245, 0.521); */
}

.Meridor__First__text{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Meridor__First__text__left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

.Meridor__First__text__left__title{
    font-size: 9vh;
    background: url(../../../src/assets/Meridor420.jpg) no-repeat; 
    background-position: 20% 55%;
    background-clip: text;
    -webkit-background-clip: text; 
    background-attachment: fixed;
    color: transparent;
    text-transform: uppercase;
    padding: 15px;
}

.Meridor__Second__text__left__title{
    font-size: 8vh;
    background: url(../../../src/assets/Meridor420.jpg) no-repeat; 
    background-attachment: fixed;
    background-position: 20% 55%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.Meridor__First__text__right{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 10px;
}

.Meridor__First__text__right__content{
    width: 30%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.89);
    padding: 30px;
    border-radius: 10px;
    font-size: 2.2vh;
}

.MeridorRose{
    height: 60vh;
    border: 15px solid white;
}

.Meridor__video{
    margin: 20vh 0 10vh;
}

.Meridor{
    height: 100vh;
    background-color: #74b6ff;
}

.Meridor__container{
    height: calc(100vh - 90px);
    display: flex;
    justify-content: space-between;
}

.Meridor__container__left__img{
    height: 100%;
}

.Meridor__container__right{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.Meridor__container__right__title{
    font-family: 'Vast Shadow', cursive;
    font-size: 4vw;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 30px;
}

.Meridor__container__right__description{
    font-size: 1vw;
    padding: 0 5vw;
}

.Meridor__footer{
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    font-size: 16px;
}

.Meridor__footer:hover{
    cursor: pointer;
}

.slide-top-Meridor {
	-webkit-animation: slide-top-Meridor 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top-Meridor 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@media screen and (orientation:portrait) {

    .Meridor{
        background: none;
    }

    .Meridor__First{
        background: none;
        position: inherit;
    }

    .Meridor__First__empty{
        display: none;
    }

    .Meridor__First__text__left{
        width: 85%;
    }

    .Meridor__First__text__left__title{
        font-size: 13vw;
    }

    .Meridor__Second__text__left__title{
        font-size: 12vw;
    }

    .Meridor__First__text__right{
        width: 85%;
    }

    .Meridor__First__text__right__content{
        width: 85%;
    }


}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-15 14:58:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top-Meridor {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
              opacity: 1;
    }
  }
  @keyframes slide-top-Meridor {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
              opacity: 1;
    }
  }
  