.VideoMobile{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.VideoMobile__file{
    height: 100vh;
}

.VideoMobile__Map_coin{
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
  }

.VideoMobile__Map_coin p{
    color: white;
    text-align: center;
  }

.margin_btm{
  margin-bottom: 0;
}

.VideoMobile__btn_start_exp_container_container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.VideoMobile__btn_start_exp_container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
}

.VideoMobile__btn_start_exp{
    background-color: white;
    border-radius: 8px;
    border: 1px solid #c02d23;
    color: #c02d23 !important;
    padding: 2vw;
    font-weight: bold;
    font-size: 4vw;
    width: 15vw;
}

.VideoMobile__End{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.822);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  height: 100vh;
  width: 100vw;
  color: white;
}

.VideoMobile__End__RepeatVideo{
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 15px;
}

.Warning_alcool_mobile{
  position: absolute;
  bottom: 0;
}