.Header{
    position: fixed;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    border-bottom: 2px solid #c02d23;
}

.Header__img{
    height: 40px;
    margin-left: 50px;
}

.Header__container{
    display: flex;
    margin-right: 80px;
    height: 40px;
    align-items: center;
}

.Header__container__eshop{
    background-color: #c02d23;
    padding: 6px 12px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-weight: bold;
}

.Header__container__eshop:hover{
    cursor: pointer;
}

.Header__container__lang{
    margin: 0 30px;
    padding: 0 10px;
   border: 1px solid #c02d23;
    color: #c02d23;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.Header__container__lang__FR, .Header__container__lang__EN{
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 30px;
    font-weight: bold;
    padding: 0 5px
}

.Header__container__lang:hover{
    cursor: pointer;
}

.Header__container__lang__img{
    height: 20px;
    margin: 0 10px;
}

/* Responsive Change */

@media screen and (orientation:portrait) {

    .Header{
        padding: 2px;
    }

    .Header__container{
        margin-right: 5vw;
    }

    .Header__container__lang {
        margin: 0 10px;
    }

    .Header__img{
        margin-left: 5vw;
        height: 4vh;
    }
}